@import './scss/variables';
@import './screens/styles';


.background {
  min-height: 100vh;
  background: rgb(71,66,140);
  background: linear-gradient(150deg, rgba(71,66,140,1) 0%, rgba(53,41,95,1) 51%, rgba(15,12,43,1) 100%);
}
.header {
  margin-bottom: 2rem;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #eee;
  color: #fff;
}

.bg-card {
  background: rgba(162, 218, 224, 0.3);
  color: #fff;
  min-height: 259px;
}

.min-width-100 {
  min-width: 100%;
}


@media screen and (max-width: 820px) {
  .bg-card {
    min-height: 150px;
  }
  
}